<%= form_for(@holding) do |f| %>
  <% if @holding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holding.errors.count, "error") %> prohibited this holding from being saved:</h2>

      <ul>
      <% @holding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :portfolio_id %><br />
    <%= f.collection_select :portfolio_id, Portfolio.where("user_id = ?", current_user.id), :id, :name, :include_blank => false %>
  </div>
  <div class="field">
    <%= f.label :security_id %><br />
    <%= f.collection_select :security_id, Security.all, :id, :symbol, :include_blank => false %>
  </div>
  <div class="field">
    <%= f.label :shares_held %><br />
    <%= f.text_field :shares_held %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
