<h3>Stock Performance</h3>

<% array = [] %>
<% @holdings.each do |holding| %>
<% array << holding.dollar_value %>
<% end %>
<% assets = array.sum %>

<table class="table table-condensed table-hover">

  <thead>

  <tr>
    <th colspan = "3"></th>
    <th></th>
    <th colspan = "3" style="text-align:center; border-bottom:1px solid;">Performance</th>
    <th></th>
    <th colspan = "8" style="text-align:center; border-bottom:1px solid;">Audit Trail</th>
  </tr>

  <tr>
    <th>Sector</th>
    <th>Symbol</th>
    <th>Weight</th>
    <th> </th>
    <th>1-Yr</th>
    <th>3-Yr</th>
    <th>5-Yr</th>
    <th> </th>
    <th>Today Date</th>
    <th>Today Price</th>
    <th>1 Year Ago Date</th>
    <th>1 Year Ago Price</th>
    <th>3 Years Ago Date</th>
    <th>3 Years Ago Price</th>
    <th>5 Years Ago Date</th>
    <th>5 Years Ago Price</th>
    <th></th>
    
  </tr>

  </thead>

  <tbody>

  <% @holdings.each do |holding| %>
  <tr>
    <td><%= holding.sector_name_for_holdings %></td>
    <td><%= link_to "#{holding.symbol}", "http://www.google.com/finance?q=#{holding.symbol}", :target => "_blank" %></td>
    
    <td style="text-align:right">
      <%= holding.weight(@assets) %>
    </td>
    <td></td>
    <td style="text-align:right"><%= Format.percent_dec(holding.one_year_performance) %></td>
    <td style="text-align:right"><%= Format.percent_dec(holding.three_year_performance) %></td>
    <td style="text-align:right"><%= Format.percent_dec(holding.five_year_performance) %></td>
    <td></td>
    <td><%= holding.today_date %></td>
    <td style="text-align:right"><%= holding.today_price %></td>
    <td style="text-align:right"><%= holding.one_year_ago_date %></td>
    <td style="text-align:right"><%= Format.currency_dec(holding.one_year_ago_price) %></td>
    <td style="text-align:right"><%= holding.three_years_ago_date %></td>
    <td style="text-align:right"><%= Format.currency_dec(holding.three_years_ago_price) %></td>
    <td style="text-align:right"><%= holding.five_years_ago_date %></td>
    <td style="text-align:right"><%= Format.currency_dec(holding.five_years_ago_price) %></td>
    <td> </td>
    
  </tr>
  <% end %>

  </tbody>

</table>
