<h1>Summary</h1>

<table class="table table-condensed table-hover">
  <thead>
  <tr>
    <th>Portfolio</th>
    <th>Sector</th>
    <th>Symbol</th>
    <th>Shares</th>
    <th>Previous Close</th>
    <th>Current Price</th>
    <th>Pct Change</th>
    <th>Value</th>
    <th>Weight</th>
    <th colspan=2></th>
  </tr>
  </thead>

<% @holdings.each do |holding| %>
  <tbody>
  <tr>
    <td><%= holding.portfolio_name %></td>
    <td><%= holding.sector_name_for_holdings %></td>
    <td><%= link_to "#{holding.symbol}", "http://www.google.com/finance?q=#{holding.symbol}", :target => "_blank" %></td>
    <td style="text-align:right">
      <%= Format.comma(holding.shares_held) %>
    </td>
    <td style="text-align:right">
      <%= holding.indicator_currency_dec("PreviousClose") %>
    </td>
    <td style="text-align:right">
      <%= holding.indicator_currency_dec("LastTradePriceOnly") %>
    </td>
    <td style="text-align:right">
      <%= holding.indicator_percent_dec("PercentChange") %>
    </td>
    <td style="text-align:right">
      <%= holding.dollar_value_currency %>
    </td>
    <td style="text-align:right">
      <%= holding.weight(@assets) %>
    </td>
    <td><%= link_to 'Edit', edit_holding_url(holding), :class => "btn btn-mini" %></td>
    <td><%= link_to 'Delete', holding, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini" %></td>
  </tr>
<% end %>

<tr>
  <td><b>Total Equity</b></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td style="text-align:right"><b><%= Format.percent_dec(@stocks_chg) %></b></td>
  <td style="text-align:right"><b><%= Format.currency(@stocks) %></b></td>
  <td style="text-align:right"><b><%= Format.percent_dec(@stock_weight) %></b></td>
  
  <td></td>
  <td></td>
  
  </tr>

<% @portfolios.each do |portfolio| %>
    <tr>
    <td><%= portfolio.name %></td>
    <td>Cash</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td style="text-align:right">
      <%= Format.currency(portfolio.cash) %>
    </td>
    <td style="text-align:right">
      <%= portfolio.weight(@assets) %>
    </td>
    <td><%= link_to 'Edit', edit_portfolio_url(portfolio), :class => "btn btn-mini" %></td>
    <td></td>
  </tr>
<% end %>

<tr>
  <td><b>Total Assets</b></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td style="text-align:right"><b><%= Format.percent_dec(@asset_chg) %></b></td>
  <td style="text-align:right"><b><%= Format.currency(@assets) %></b></td>
  <td style="text-align:right"><b><%= Format.percent_dec(100) %></b></td>
  
  <td></td>
  <td></td>
  
  </tr>
</tbody>
</table>

<%= link_to 'Add Holding', new_holding_url, :class => "btn btn-mini" %>
