<h1>Portfolio Summary</h1>
<% assets = [] %>
<% @holdings.each do |holding| %>
<% assets << holding.dollar_value %>
<% end %>
<% assets = assets.sum %>

<% assets_yesterday = [] %>
<% @holdings.each do |holding| %>
<% assets_yesterday << holding.dollar_value_yesterday %>
<% end %>
<% assets_yesterday = assets_yesterday.sum %>

<table class="table table-condensed">
  <thead>
  <tr>
    <th>Portfolio</th>
    <th>Name</th>
    <th>Symbol</th>
    <th>Shares</th>
    <th>Previous Close</th>
    <th>Current Price</th>
    <th>Pct Change</th>
    <th>Value</th>
    <th>Weight</th>

    <th></th>
    <th></th>
  </tr>
  </thead>

<tbody>
<% @holdings.each do |holding| %>
  <tr>
    <td><%= holding.portfolio_name %></td>
    <td><%= holding.indicator("Name") %></td>
    <td><%= holding.symbol.upcase %></td>
    <td style="text-align:right">
      <% result = holding.shares_held.to_f %>
      <%= holding.commas(result) %>
    </td>
    <td style="text-align:right">
      <% result = holding.indicator("PreviousClose").to_f %>
      <%= holding.currency_dec(result) %>
    </td>
    <td style="text-align:right">
      <% result = holding.indicator("LastTradePriceOnly").to_f %>
      <%= holding.currency_dec(result) %>
    </td>
    <td style="text-align:right">
      <% result = holding.indicator("PercentChange").to_f %>
      <%= holding.percent_dec(result) %>
    </td>
    <td style="text-align:right">
      <%= holding.dollar_value_currency %>
    </td>
    <td style="text-align:right">
      <% result = holding.dollar_value/assets*100 %>
      <%= holding.percent_dec(result) %>
    </td>
    <td><%= link_to 'Edit', edit_holding_path(holding) %></td>
    <td><%= link_to 'Delete', holding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

<tr>
  <td><b>Total</b></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td style="text-align:right"><b><%= ActionController::Base.helpers.number_to_percentage((assets/assets_yesterday-1)*100, :precision => 2) %></b></td>
  <td style="text-align:right"><b><%= ActionController::Base.helpers.number_to_currency(assets, :unit => "$", :precision => 0) %></b></td>
  <td style="text-align:right"><b><%= ActionController::Base.helpers.number_to_percentage(assets/assets*100, :precision => 2) %></b></td>
  
  <td></td>
  <td></td>
  
  </tr>
</tbody>
</table>

<div class="pull-right btn btn-success" >
<%= link_to 'New Holding', new_holding_path %>
</div>
<br />
<br />
<%= render 'kpi' %>