<% if @assets > 0 || @assets_yesterday > 0 %>

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li>
        <%= link_to 'Summary', holdings_url %>
      </li>
      <li>
        <%= link_to 'Fundamental', fundamental_url %>
      </li>
      <li class="active">
        <%= link_to 'Performance', performance_url %>
      </li>
    </ul>
  </div>
</div>

<%= render 'perf' %>

<% else %>

<%= link_to 'Add Holding', new_holding_url, :class => "btn btn-large" %>

<% end %>
