<%= form_for(@portfolio) do |f| %>
  <% if @portfolio.errors.any? %>
    <div class="alert alert-block alert-error">
      <h4><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h4>

      <ul>
      <% @portfolio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Investment Policy Statement" %>
    <%= f.text_area :ips %>
  </div>
  <div class="field">
    <%= f.label :cash %>
    <%= f.text_field :cash %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
