<h1>Portfolios</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

<tbody>
<% @portfolios.each do |portfolio| %>
  <tr>
    <td><%= portfolio.name %></td>
    <td><%= link_to 'Details', portfolio, :class => "btn btn-mini" %></td>
    <td><%= link_to 'Edit', edit_portfolio_path(portfolio), :class => "btn btn-mini"  %></td>
    <td><%= link_to 'Liquidate', portfolio, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini"%></td>
  </tr>
<% end %>
</tbody>
</table>

<%= link_to 'Add Portfolio', new_portfolio_path, :class => "btn btn-mini" %>
<br />