<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @portfolio.name %>
</p>

<p>
  <b>Investment Policy Statement:</b><br />
  <%= @portfolio.ips %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
