<%= form_for(@security) do |f| %>
  <% if @security.errors.any? %>
    <div class="alert alert-block alert-error">
      <h4><%= pluralize(@security.errors.count, "error") %> prohibited this security from being saved:</h4>

      <ul>
      <% @security.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sector_id %>
    <%= f.collection_select :sector_id, Sector.where("user_id = ?", current_user.id), :id, :name, :include_blank => false %>
  </div>
  <div class="field">
    <%= f.label :symbol %>
    <%= f.text_field :symbol %>
  </div>
  <div class="field">
    <%= f.label :our_price_target %>
    <%= f.text_field :our_price_target %>
  </div>
  <div class="field">
    <%= f.label :our_current_year_eps %>
    <%= f.text_field :our_current_year_eps %>
  </div>
  <div class="field">
    <%= f.label :our_next_year_eps %>
    <%= f.text_field :our_next_year_eps %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
