<h1>Coverage</h1>

<table>

  <tr>
    <th></th>
    <th></th>
    <th colspan = "3" style="border-bottom:1px solid black;">Internal Forecast</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <th>Sector Assigment</th>
    <th>Symbol</th>
    <th>Price Target</th>
    <th>Current Year EPS</th>
    <th>Next Year EPS</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @securities.each do |security| %>
  <tr>
    <td><%= security.our_sector %></td>
    <td><%= security.symbol %></td>
    <td><%= security.our_price_target %></td>
    <td><%= security.our_current_year_eps %></td>
    <td><%= security.our_next_year_eps %></td>
    <td><%= link_to 'Show', security %></td>
    <td><%= link_to 'Edit', edit_security_path(security) %></td>
    <td><%= link_to 'Destroy', security, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Security', new_security_path %>

<br />
<hr />
<%= link_to 'Financial Summary', holdings_path %>
<%= link_to 'Edit Portfolios', portfolios_path %>
<%= link_to 'Edit Securities', securities_path %>