<p>
  <b>Our Sector:</b>
  <%= @security.sector_name %>
</p>

<p>
  <b>Symbol:</b>
  <%= @security.symbol %>
</p>


<p>
  <b>Internal Forecasts:</b><br />
  Price Target <%= @security.our_price_target %><br />
  Current Year EPS <%= @security.our_current_year_eps %><br />
  Next Year EPS <%= @security.our_next_year_eps %><br />
</p>

<%= link_to 'Edit', edit_security_path(@security), class: "btn btn-small" %>
<%= link_to 'Back', securities_path, class: "btn btn-small" %>