<!DOCTYPE html>
<html>

  <head>
    <title>Buttonwood</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">

        <%= link_to "Buttonwood", root_path, :class => "brand" %>
        <div class="nav pull-right">
          <ul class="nav">
            <li><%= link_to 'Holdings', holdings_path %></li>
            <li><%= link_to 'Portfolios', portfolios_path %></li>
            <li><%= link_to 'Sectors', sectors_path %></li>
            <li><%= link_to 'Coverage', securities_path %></li>
            <% if current_user %>
            <li><%= link_to "Log out", log_out_path %></li>
            <% else %>
            <li><%= link_to "Sign up", sign_up_path %></li>
            <li><%= link_to "Log in", log_in_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  
    <div class="container">
        
      <% if current_user %>
        <p align=right style='"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;'><em>Logged in as <%= current_user.email %>.</em></p>
      <% else %>
      <% end %>
      <%= render 'layouts/flash_messages' %>
        <%= yield %>
      
    </div>


  </body>
</html>