<!DOCTYPE html>
<html>
<head>
  <title>ButtonwoodTwo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Financial Summary', holdings_path %>
<%= link_to 'Edit Portfolios', portfolios_path %>
<%= link_to 'Edit Securities', securities_path %>
<hr />

<%= yield %>

</body>
</html>
